# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Anaconda envs
*.conda
*.egg-info/

# Temp
~WRL*.tmp
*.tmp
